
  .container {
    background-color: #ffffff;
    /* display: flex; */
    /* align-items: center; */
    width: 90vw;
    max-width: 1200px;
    padding: 50px 30px;
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    top: calc(50% + 39px);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    /* box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); */
  }
  .title {
  }
  .title__field {
    margin-bottom: 40px;
    height: 40px;
    width: 340px;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
  }
  .activeFx {
    background-color: #e0e9ff;
  }

  /* input file */

  .input-file-row {
    display: inline-block;
    margin-top: 20px;
  }
  .input-file {
    position: relative;
    display: inline-block;
  }
  .input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #000000;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
  }
  .input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
   
  /* Focus */
  .input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
   
  /* Hover/active */
  .input-file:hover span {
    background-color: #59be6e;
  }
  .input-file:active span {
    background-color: #2E703A;
  }
   
  /* Disabled */
  .input-file input[type=file]:disabled + span {
    background-color: #eee;
  }
   
  /* Список c превью */
  .input-file-list {
    padding: 10px 0;
  }
  .input-file-list-item {
    display: inline-block;
    margin: 0 15px 15px;
    width: 150px;
    vertical-align: top;
    position: relative;
  }
  .input-file-list-item img {
    width: 150px;
  }
  .input-file-list-name {
    text-align: center;
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .input-file-list-remove {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    background: #ff0202;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
  }