.tournament-item {
  margin-bottom: 2rem;
}

.tournament-block {
  width: 90%;
  height: 100%;

  margin: 0 auto;

  padding: 1.5rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;

  position: relative;
  z-index: 3;

  border-radius: 40px;
  background-color: rgb(46, 49, 54);
}

.tournament-image {
  width: 45%;
  height: 100%;
}

.tournament-info {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.warning {
  width: 100%;

  margin-bottom: 2rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  flex-direction: row;

  border-radius: 25px;
  background-color: rgb(40, 43, 48);
}
.warning-icon {
  width: 50px;
  height: 44px;

  margin: 0 20px;

  display: flex;
}
.warning-icon > img {
  height: 100%;
}

.warning-text {
  width: 381px;

  display: flex;
  align-items: center;

  color: #fff;
  font-size: 20px;
}
.buttons-stage {
  width: 100%;
  height: 100%;

  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  border-radius: 25px;
  background-color: rgb(40, 43, 48);
}

.tournaments-item-buttons {
  width: 80%;
  height: 40%;

  display: flex;
  flex-direction: row;
}

.tournaments-item-button {
  width: 100%;
  height: 100%;

  padding: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.tournaments-item-button:hover {
  filter: brightness(80%);
}
.tournaments-item-button:active {
  transform: scale(0.9);
}

.tournaments-item-button > img {
  width: 25%;
}

.tournaments-item-button ~ .tournaments-item-button {
  margin-left: 19px;
}
.blue-button {
  background-color: rgb(56, 124, 249);
}
.green-button {
  background-color: rgb(66, 189, 95);
}

.tournaments-item-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-metric {
  width: 121px;
  height: 22px;

  display: flex;

  background-color: rgb(78, 78, 78);
  border-radius: 25px;
}
.tournament-more-info {
  width: 70%;

  margin: 0 auto;
  padding: 1rem 0 3rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  position: relative;
  top: -110px;

  border-radius: 0 0 35px 35px;
  background-color: rgb(46, 49, 54);
  background-image: url(../../../../assets/bg-more.png);
  background-size: cover;

  z-index: 0;

  transition-duration: 1s;
}

.tournament-anim {
  top: 0px;
}

.tournament-info-button-box {
  width: 100%;
  height: 60px;

  margin-top: 30px;

  display: flex;
  justify-content: space-around;
}

.tournament-info-button {
  min-width: 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;

  background-color: #2e3136;
  border-radius: 20px;
}
.tournament-info-button:hover {
  box-shadow: 2px 2px 20px #4e6a78, -2px -2px 20px #4e6a78;
}

.stick {
  width: 20%;
  height: 10px;

  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);

  border: none;
  outline: none;

  background-color: #97999b;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.stick:hover {
  background: #646566;
}
.stick:active {
  transform: translateX(-50%) scale(0.9);
}

main {
  font-family: "Bakbak One", Regular;
  color: #fff;
}

/* participants */

.participants-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.participants-box {
  margin-bottom: 10px;
  padding: 0.2rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 35px 35px 0 0;
  font-size: 48px;
  background-color: #2e3136;
}

.participants-content {
  width: 90%;
  min-height: 30vh;

  padding: 2rem 10px 3rem 10px;

  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;

  background-color: #2e3136;
  border-radius: 25px 25px 0 0;
}

.participants-element {
  /* width: 23%; */
  height: 80px;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;

  background-color: #202020;
  border-radius: 20px;
}

.participants-logo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: #414141;
}

.participants-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 16px;
  margin-right: 20px;
}

.participants-text > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.participants-text > .participants-title {
  font-size: 19px;
  color: #fff;
}

.title-big-news {
  top: 67%;
  left: 5%;
}
