.tournament {
  width: 100%;
  min-height: 250px;

  padding: 20px;
  border-radius: 45px;

  border: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
}
.tournament-title {
  position: absolute;
  bottom: 10%;
  left: 30px;
  font-family: "Bakbak One", Regular;
  color: #fff;
}

.title-news {
  display: inline-block;
  font-size: 24px;

  position: relative;
}

.tank-class {
  position: absolute;
  top: 0;
  right: -25%;
  display: block;
  font-size: 12px;
  float: right;
}

.subtitle > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  display: inline-block;
  line-height: 0px;
}

.date-box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 10%;
  right: 3%;

  font-family: "Bakbak One", Regular;
  color: #fff;
  border-radius: 12px;
  background-color: #2e3136;
}
.date {
  width: 100%;

  text-align: center;
  font-size: 24px;
  text-shadow: 0 0 10px #fff;

  position: relative;
  bottom: -10%;
  left: 0;
}
.quantity {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 13px;
  color: #74e081;
  text-shadow: 0 0 10px#74e081;
}
