.header {
  background-color: inherit;
  border-bottom: 1px solid rgb(44, 46, 50);
}

.container-video {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-video video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.72, 1.72);
}

.play-btn {
  width: 100%;

  margin-bottom: 2rem;

  text-align: center;

  z-index: 100;
}
.play-btn button {
  padding: 0.5rem 1rem;
  border-radius: 10px;

  background: none;
  outline: none;
  color: #fff;
  border: none;
  background: rgb(44, 46, 50);

  cursor: pointer;
  transition: 0.3s;
}
.play-btn button:hover {
  background: rgb(59, 60, 63);
}
