.pull-out-menu {
  position: absolute;
  top: -300%;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.pull-out-menu.left {
  left: 0;
}
.pull-out-menu.right {
  right: 0;
}

.pull-out-menu.open {
  top: 80%;
  opacity: 1;
  visibility: visible;
  transition: 0.5s, top 0s;
}
