@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
  padding: 25px 100px 25px 50px;

  color: #fff;
  background: #393838;
  border-radius: 15px;
}
.profile-img {
  width: 25%;
  height: 100%;

  background: #757e8a;
  border-radius: 15px;
}
.profile-info-block {
  width: 70%;

  display: flex;
  gap: 20px;
}

.profile-info {
  margin-left: 20px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-title {
  font-size: 32px;
  font-family: "Nanum Gothic";
  font-weight: 1000;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 0.7;
}

.title-row {
  display: flex;
  justify-content: space-between;
}
.title-row img {
  width: 35px;
  height: 25px;
  margin-left: 15px;
  border-radius: 5px;
}

.profile-subtitle {
  margin-right: 10px;

  color: #b1adad;
  opacity: 0.89;
  letter-spacing: 1px;
  line-height: 0.7;

  font-family: "Nanum Gothic";
  font-size: 26px;
}
.subtitle-row {
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.statistics {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 5px 20px 10px 20px;

  background: #1a1c1e;
  border-radius: 10px;
}

.statistics p {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.statistics p::after {
  content: "дней";

  display: block;
  position: absolute;
  top: 70%;
  left: 50%;

  transform: translateX(-50%);

  font-size: 10px;
  opacity: 0.6;
}
.statistics p:last-child::after {
  content: "битв";
}

.profile-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #1a1c1e;
  border: none;
  border-radius: 10px;

  font-size: 26px;
  color: #fff;

  cursor: pointer;
  transition: 0.3s;
}
.profile-settings img {
  width: 25px;
  height: 25px;
}

.profile-settings:hover {
  background: #212427;
}

.profile-awards {
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.profile-line {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 10px;
  background: #1a1c1e;
}
.profile-line img {
  height: 70%;
}
.profile-line:nth-child(2) img:nth-child(1),
.profile-line:nth-child(2) img:nth-child(3) {
  opacity: 0.3;
}
