@media (max-width: 800px) {
  .auth {
    width: auto;
  }

  .header-profile {
    width: 50px;
    height: 50%;
    border-radius: 50%;
    padding: 10px;
  }

  .header-plus-sign {
    display: block;
  }
  .auth-btn {
    display: none;
  }
}
