.single-tournament {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-date,
.tour-info {
  width: 90%;

  background: #525966;
  border-radius: 20px;
}
.tour-date {
  width: 75%;

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  font-size: 18px;
}
.tour-info {
  padding: 1rem 1.5rem;

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  background: #525966;
}
.tour-info h3 {
  font-size: 24px;
}
