@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
  padding: 25px 100px 25px 50px;

  color: #fff;
  background: #393838;
  border-radius: 15px;
}
.profile-img {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #757e8a;
  border-radius: 15px;
}
.profile-img img {
  width: 75%;
  height: 75%;
}
.profile-info-block {
  width: 70%;

  display: flex;
  gap: 20px;
}

.profile-info {
  width: auto;
  min-width: 35%;
  height: 100%;
  margin-left: 20px;
  padding-top: 20px;

  display: flex;
  gap: 2rem;
}

.info,
.titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titles h2 {
  align-self: flex-start;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1;

  transform: translateY(-0.75rem);
  margin-bottom: 0.6rem;
}

.titles h3 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  color: #7e8ca3;
}

.info {
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.info img {
  width: 40%;
}

.statistics {
  padding: 0.25rem 1.25rem 0.75rem 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  border-radius: 20px;
  background: #212225;
}
.statistics p {
  font-size: 24px;
  position: relative;
}
.statistics p::after {
  content: "матчи";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.statistics p:last-child::after {
  content: "турниры";
}

.profile-awards h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 0;
  text-align: center;
  color: #7e8ca3;
}

.profile-awards {
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.profile-line {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 10px;
  background: #1a1c1e;
}
.profile-line img {
  height: 70%;
}
.line-cups img:nth-child(1) {
  opacity: 0.6;
}
.line-cups img:nth-child(3) {
  opacity: 0.3;
}
